<h1>All Tasks</h1>

#foreach($category in $categories)
 <h3><a href="/categories/$category.getId()">$category.getName()</a></h3>
 #foreach ($task in $category.getTasks())
   <li>$task.getDescription()</li>
 #end
#end


<a href="/tasks/new" class="btn btn-default">Add a New Task</a>
